<p>card-house works!</p>
<div matRipple class="mat-elevation-z5">
  <mat-card [ngClass]="{'hover': !canEdit}">
    <mat-card-title>
      <div class="card-title">
        <span *ngIf="!isEditing">{{product?.name}}</span>


        <div [ngClass]="{'actions': isEditing}">
          <button *ngIf="canEdit" (click)="updateState()" mat-icon-button>
            <mat-icon class="color-edit">{{isEditing ? 'save' : 'edit'}}</mat-icon>
          </button>
          <button *ngIf="canEdit && isEditing" (click)="isEditing = false" mat-icon-button>
            <mat-icon class="color-remove">close</mat-icon>
          </button>
        </div>
      </div>

    </mat-card-title>
    <mat-card-subtitle>

      <mat-form-field *ngIf="isEditing">
        <input [formControl]="nameControl" matInput placeholder="House">
      </mat-form-field>
      <span *ngIf="!isEditing">Categoría: {{product?.category?.name}}</span>
      <mat-form-field >
        <mat-label>Categoría</mat-label>
        <mat-select [formControl]="categoryControl">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-subtitle>
    <app-image-picker [imgParent]="product?.img" [disabled]="!isEditing" (change)="imageUploaded($event)">
    </app-image-picker>
    <mat-card-content>
      <label *ngIf="product?.packings.length > 0" class="packing-title">Empaques</label>
      <p *ngFor="let packing of product?.packings" class="packing-item">{{packing.name}}</p>
    </mat-card-content>

  </mat-card>
</div>
