
<mat-card>
  <mat-card-title>Houses</mat-card-title>
<mat-list role="list">

  <mat-list-item  [routerLink]="['grifi']" ><mat-icon class="icon_menu">house</mat-icon>Gryffindor</mat-list-item>
  <mat-list-item  [routerLink]="['sly']"><mat-icon class="icon_menu">house</mat-icon>Ravenclaw</mat-list-item>
  <mat-list-item  [routerLink]="['raven']"><mat-icon class="icon_menu">house</mat-icon>Hufflepuff</mat-list-item>
  <mat-list-item  [routerLink]="['huf']"><mat-icon class="icon_menu">house</mat-icon>Slytherin</mat-list-item>
</mat-list>
</mat-card>
