<mat-card class="container"  >
  <mat-card-title>{{student.name}}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="dataForm">
      <div class="row">
        <mat-form-field >
          <input matInput placeholder="Role" value={{student.role}}  type="text" readonly/>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="House" value={{student.house}}  type="text" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="School" value={{student.school}} type="text" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ministry Of Magic" value= {{student.ministryOfMagic|translateBooleans}} type="bool" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Order Of The Phoenix"  type="text" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Dumbledore's Army"  type="text" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Death Eater"  type="text" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Blood Status"  type="text" />
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <div>
    <button mat-fab type="button" class="btn btn-separator btn-round btn-full-round" matTooltip="Volver"
      (click)="goBack();">
      <i class="material-icons">arrow_back</i>
    </button>

  </div>


</mat-card>
